* {margin:0;padding:0;font-size:large;}
.height100percent {height:100%}
.width100percent {width:100%}
.hidden {visibility:collapse;display:none;}
.expose {visibility:visible;display:block;} /* Here for completeness only. */
.truncate {white-space: nowrap;overflow-x: hidden;overflow: hidden;text-overflow: ellipsis;}
.scrolled {white-space: nowrap;overflow-x: scroll;overflow-y: hidden;text-overflow: clip;}
.thickBorder {border:3px black solid;}
.thinBorder {border:1px black solid;}
.smallFont {font-size:x-small;}
.buttonMargin {margin:0.2em;}
.textPad {padding:0.2em}
.spacer {padding:0.5em;clear:both;}
.recordSpace {margin:0.5em;}
.clearfix {overflow: auto;}
.clearfix::after {content: "";clear:both;display:table;}
.center {margin:auto;text-align:center;}

#debug {background-color:#ff8080;width:100%;line-height:1.2em;}
#isCordova {background-color:#ffcccc;}

/* header, panel buttons, titles, icons */
.header  {width:100%;margin:0;padding:0;min-height:50px;}
#header  {text-align:center;background-color:#f5cc7c;}
#menubar   {cursor:pointer;border:0;float:right;}
#appIcon  {cursor:pointer;border:0;float:left;height:48px;width:48px;padding:1px;}
#appTitle {}
#version {}
.appTitle  {font-family:monospace;font-size:1.2em;padding:1em 0;}

#controlPanel {width:100%;background-color:#dcd4ac;line-height:52px;}
  #appMessage    {width:242px;float:left;line-height:1.3em;padding:2px;}
  #imgCamera     {float:left;height:24px;width:24px;padding:2px 5px;}
  #imgLocalStore {float:right;height:24px;width:24px;padding:2px 5px;}



#photoWrapper {width:100%;}
  #theImage {}
  .theImage {width:25%;float:left;}
  .width25percent {width:25%}
  .width24px {cursor:pointer;float:right;height:24px;width:24px;padding:2px 5px;}
  .thumbnail { /* This "dummy" class let's us grab all images of this class, then get the element-Id */ }
  .shareicon { /* This "dummy" class let's us grab all images of this class, then get the element-Id */ }

#notesWrapper {}
#noteNote { spellcheck;false; resize: none; border:2px solid #888;}
#allButton {cursor:pointer;}
#clearButton {cursor:pointer;}
#exitButton {cursor:pointer;float:right;}
#keysButton {cursor:pointer;}
#saveButton {cursor:pointer;}
#summaryButton {cursor:pointer;}

.dbKey {background-color:#ccffcc;}

