body {margin:0;padding:0;}
* {margin:0;padding:0;}
.height100percent {height:100%}
.hidden {visibility:collapse;display:none;}
.expose {visibility:visible;display:block;} /* Here for completeness only. */
.spacer {clear:both;}
.recordSpace {margin:0.5em;}
.clearfix {overflow: auto;}
.clearfix::after {content: "";clear:both;display:table;}
.truncate {white-space:nowrap;overflow-x:hidden;overflow:hidden;text-overflow:ellipsis;}
.thinBorder {border:1px solid black;}
.smallFont {font-size:small;}

/* header, panel buttons, titles, icons */
.header  {width:100%;margin:0;padding:0;min-height:50px;}
#header  {text-align:center;background-color:#f5cc7c;}
#menubar   {cursor:pointer;border:0;float:right;}
#app_icon  {cursor:pointer;border:0;float:left;height:48px;width:48px;padding:1px;}
#app_title {font-family:monospace;font-size:1.2em;padding:1em;}
#debug {background-color:#ff8080;width:100%;line-height:1.2em;}

#controlPanel {width:100%;background-color:#dcd4ac;line-height:52px;}
  #imgCamera      {float:left;height:24px;width:24px;padding:2px 5px;border:1px solid black;}
  #imgLocalStore {float:right;height:24px;width:24px;padding:2px 5px;border:1px solid black;}
  #recordSummary {width:252px;float:left;line-height:1.3em;padding:2px;}
  #miscStorage    {float:right;text-align:right;padding:4px 2px;}

.thumbnail {cursor:pointer;} /* just a class identifier */
.record {width:100%;border:1px solid black;height:45px;}
  .canvasImage  {float:left;}
  .summaryNote  {width:238px;float:right;line-height:1.3em;background-color:#ece8da;padding:1px;}
  .calendarDate {width:238px;float:right;line-height:1.3em;background-color:#ece8da;padding:1px;text-align:right;}

  .divNote  {width:100%;float:right;line-height:1.3em;background-color:#ece8da;padding:1px;}
  .divAux   {width:100%;float:right;line-height:1.3em;background-color:#ece8da;padding:1px;text-align:right;}
  .divDate  {float:right;line-height:1.3em;background-color:#dcd4ac;padding:1px;text-align:right;}

#notesWrapper {}
#noteNote {margin:0.2em;}

#statusWrapper {text-align:center;}
  #status {margin:auto;width:100%;}
  .statusWrapper {text-align:center;}
