/* This is for Firefox desktop browsers. --> button::-moz-focus-inner {border: 0; }
   Some require `button {outline:0;}` 
   See: https://css-tricks.com/removing-the-dotted-outline/
*/
#theTabs {margin:0;padding:0;}

#theTabSelector {}
.theTabSelector {width:100%;margin:0;padding:0;text-align:center;font-size:large;}

button {outline:0;} /* required for Android webview */
#tab1 {background-color:#93c6e9;}
#tab2 {background-color:#CBC9BD;} /* CBC9BD */
.tab::-moz-focus-inner {border: 0; } /* required for Firefox desktop */
.tab  {width:50%; line-height:2em;font-size:large;cursor:pointer;}
.tabRadius {border-top-left-radius:0.5em;border-top-right-radius:0.5em;}
.tabBorder {border-top:1px solid black;border-right:1px solid black;border-left:none;border-bottom: none;}

#tab1Data {background-color:#93c6e9;}
#tab2Data {background-color:#CBC9BD;}
.tabData {width:100%;margin:0;padding:0;font-size:medium;}

.thickBorderList {border:2px black solid;border-bottom:none;}
.textPad {padding:0;}
.dbKey {background-color:#eeffff;} /* ddffdd */
